*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#0f172a;
color:white;
display:flex;
justify-content:center;
padding-top:50px;
}

.container{
width:600px;
background:#1e293b;
padding:30px;
border-radius:10px;
}

h1{
text-align:center;
margin-bottom:10px;
}

#todayDate{
text-align:center;
margin-bottom:20px;
color:#38bdf8;
}

.task-input{
display:flex;
gap:10px;
margin-bottom:20px;
}

.task-input input{
flex:1;
padding:10px;
border-radius:5px;
border:none;
}

.task-input button{
padding:10px;
background:#38bdf8;
border:none;
border-radius:5px;
cursor:pointer;
}

.section{
margin-top:20px;
}

ul{
list-style:none;
margin-top:10px;
}

li{
background:#334155;
padding:10px;
margin-bottom:10px;
border-radius:6px;
display:flex;
justify-content:space-between;
align-items:center;
}

.task-left{
display:flex;
gap:10px;
align-items:center;
}

.completed{
text-decoration:line-through;
opacity:0.6;
}

.delete{
background:red;
border:none;
color:white;
padding:5px 10px;
border-radius:5px;
cursor:pointer;
}